// ----- large containers -----//
section, header, footer, main {
	width: 100%;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}

.container, .flickity-container {
	z-index: 99;
	background-color: rgba(238, 238, 238, 0.65);
}

.container {
	position: relative;
	width: 100%;
	z-index: 10000;
	.closeFlickity {
		width: 100px;
		height: 100px;
		background: red;
		position: absolute;
		right: 0;
		z-index: 10000;
	}

	.flickity-container {
		width: 100%;
		height: 93vh;
		margin-top: -93vh;
		&.hide {
			display: none;
		}
		.pupPic {
			margin: auto 0;
		}
	}
}

// ----- typography ----- //
h1, h2 {
	font-family: $headingFont; 
}

h3, p, label, a, input {
	font-family: $bodyFont;
	color: $blackc;
	margin: 0;
}

a, a:hover, a:focus, a:active {
	outline: 0;
	text-decoration: none;
	transition: 0.3s;
}

a:hover {
	color: $greenc;
}

