// ----- font impot ------ //
@import 'https://fonts.googleapis.com/css?family=Lato:400,400i|Work+Sans:400,600';

// ----- font variables ----- //
$headingFont: 'Work Sans', 'helvetica', sans-serif;
$bodyFont: 'Lato', 'helvetica', sans-serif;

// ----- client colors ----- //
$bluec: #8891EF;
$greenc: #60DDB5;
$redc: #C97A7A;
$blackc: #524F4F;